body {
    background-color: rgb(246, 246, 246);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 7rem;
}

nav {
    display: flex;
    justify-content: center;
}

.form-group {
    padding: .5rem 0;
}

.password-container {
    display: flex;
}

.action-btn, .form-errors {
    margin-top: 1.5rem;
}

.error-msg {
    color: red;
    font-size: .75rem;
    margin-left: 1rem;
}

.form-errors {
    color: red;
    text-align: center;
    font-style: italic;
}
